<li style="padding-top:6px;padding-bottom:6px;"><span>联系人</span>{{RandLib "xm"}}女士|先生&nbsp;<span>所在地</span>{{RandLib "fl_diqu_name"}}州市枫区藏港发区</li>
<li>公司规模</span>{{RandInt 1 99}}-{{RandInt 100 1000}}</li>