<h3>
    {{- $tit := RandLib "wx_title" -}}
    <a href="http://{{RandLib "wx_word"}}.{{.HostRoot}}/" title="{{$tit}}">
        <span style="color: #8cae12;">{{$tit}}</span>
    </a>
</h3>
<p>
    <a href="http://{{RandLib "wx_word"}}.{{.HostRoot}}/" title="">
        <span style="color: #8cae12;">{{RandLib "wx_title"}}</span>
    </a>
</p>