<div class="menu">
    <ul class="fl w1200">
        <li class="active"><a href="http://{{.HostCurrent}}">首页</a></li>
        <li><a href="http://{{RandLib "wx_word"}}.{{.HostRoot}}/">心情说说</a></li>
        <li><a href="http://{{RandLib "wx_word"}}.{{.HostRoot}}/">搞笑说说</a></li>
        <li><a href="http://{{RandLib "wx_word"}}.{{.HostRoot}}/">心情随笔</a></li>
        <li><a href="http://{{RandLib "wx_word"}}.{{.HostRoot}}/">经典说说</a></li>
        <li><a href="http://{{RandLib "wx_word"}}.{{.HostRoot}}/">心情短语</a></li>
        <li><a href="http://{{RandLib "wx_word"}}.{{.HostRoot}}/">情绪管理</a></li>
        <li><a href="http://{{RandLib "wx_word"}}.{{.HostRoot}}/">心情美文</a></li>
        <li><a href="http://{{RandLib "wx_word"}}.{{.HostRoot}}/">伤感说说</a></li>
        <li><a href="http://{{RandLib "wx_word"}}.{{.HostRoot}}/">心情语录</a></li>
        <li><a href="http://{{RandLib "wx_word"}}.{{.HostRoot}}/">心情图片</a></li>
    </ul>
</div>