<div class="menu">
    <ul class="fl w1200">
        <li class="active"><a href="http://{{.HostCurrent}}">首页</a></li>
        <li><a href="http://{{RandLib "wx_word"}}.{{.HostRoot}}/">网站策划</a></li>
        <li><a href="http://{{RandLib "wx_word"}}.{{.HostRoot}}/">网站优化</a></li>
        <li><a href="http://{{RandLib "wx_word"}}.{{.HostRoot}}/">网络工程</a></li>
        <li><a href="http://{{RandLib "wx_word"}}.{{.HostRoot}}/">电信设备</a></li>
        <li><a href="http://{{RandLib "wx_word"}}.{{.HostRoot}}/">汽车保养</a></li>
        <li><a href="http://{{RandLib "wx_word"}}.{{.HostRoot}}/">载客汽车</a></li>
        <li><a href="http://{{RandLib "wx_word"}}.{{.HostRoot}}/">鞋及鞋材</a></li>
        <li><a href="http://{{RandLib "wx_word"}}.{{.HostRoot}}/">广告材料</a></li>
        <li><a href="http://{{RandLib "wx_word"}}.{{.HostRoot}}/">荒山绿化</a></li>
        <li><a href="http://{{RandLib "wx_word"}}.{{.HostRoot}}/">游艺设施</a></li>
    </ul>
</div>