{{- $host := .Request.Header.Get "Param-TopHost" -}}
{{- $title := .StoreGet "tit" false -}}
<p>
    {{- $text := Join "" (RandLib "content") (RandLib "content") (RandLib "content") -}}
    <strong>{{$title}}</strong>介绍{{- RandInsertWord $text $title -}}
    {{- (RandInsertWord $text $title) | Text2HTML -}}
</p>
<p class="p"><a target="_blank" href="http://www.{{$host}}/">关于本站</a> | <a target="_blank" href="http://{{RandLib "fl_diqu"}}.{{$host}}/">合作伙伴</a> | <a target="_blank" href="http://{{RandLib "fl_diqu"}}.{{$host}}/" rel="nofollow">广告服务</a> | <a target="_blank" href="http://{{RandLib "fl_diqu"}}.{{$host}}/" rel="nofollow">使用条款</a> | <a target="_blank" href="http://{{RandLib "fl_diqu"}}.{{$host}}/" rel="nofollow">投稿指南</a> | <a target="_blank" href="http://{{RandLib "fl_diqu"}}.{{$host}}/">诚聘精英</a> | <a target="_blank" href="http://{{RandLib "fl_diqu"}}.{{$host}}/">联系我们</a> | <a target="_blank" href="http://{{RandLib "fl_diqu"}}.{{$host}}/">法律声明</a> | <a target="_blank" href="http://{{RandLib "fl_diqu"}}.{{$host}}/" rel="nofollow">网站地图</a> | <a target="_blank" href="http://{{RandLib "fl_diqu"}}.{{$host}}/">往日回顾</a></p>
<p style="text-align:left;font-size:12px;"> 版权与免责声明：1.本网凡注明《{{$title}}》:本网原创”的所有作品。转载请必须同时注明本网名称及链接。 </p>