<div id="nav">
    <ul>
        <li>
            <a title="小本创业项目,农村致富项目" href="http://{{index (GetLib "fl_diqu" 1) 0}}.{{.HostRoot}}">项目</a>
            <ul><li><a>养殖项目</a></li><li><a>种植项目</a></li><li><a>小本创业</a></li></ul>
        </li>
        <li><a title="农业种植养殖专题">专题</a></li>
        <li>
            <a href="http://{{index (GetLib "fl_diqu" 1) 0}}.{{.HostRoot}}">视频</a>
            <ul><li><a>致富经文稿</a></li><li><a>致富经视频</a></li><li><a>科技苑视频</a></li><li><a>生财有道视频</a></li><li><a>每日农经视频</a></li><li><a>农广天地视频</a></li></ul>
        </li>
        <li>
            <a title="创业网" href="http://{{index (GetLib "fl_diqu" 1) 0}}.{{.HostRoot}}">创业</a>
            <ul><li><a>创业故事</a></li><li><a>农村创业</a></li><li><a>创业新闻</a></li><li><a>大学生创业</a></li></ul>
        </li>
        <li><a title="致富案例" href="http://{{index (GetLib "fl_diqu" 1) 0}}.{{.HostRoot}}">案例</a></li>
        <li><a title="致富骗局" href="http://{{index (GetLib "fl_diqu" 1) 0}}.{{.HostRoot}}">防骗</a></li>
        <li><a title="农村电商" href="http://{{index (GetLib "fl_diqu" 1) 0}}.{{.HostRoot}}">电商</a></li>
        <li><a title="现代农业" href="http://{{index (GetLib "fl_diqu" 1) 0}}.{{.HostRoot}}">前沿</a></li>
        <li><a href="http://{{index (GetLib "fl_diqu" 1) 0}}.{{.HostRoot}}">三农</a></li>
        <li><a href="http://{{index (GetLib "fl_diqu" 1) 0}}.{{.HostRoot}}">资讯</a></li>
        <li><a title="农业科技" href="http://{{index (GetLib "fl_diqu" 1) 0}}.{{.HostRoot}}">技术</a></li>
    </ul>
</div>